.github/
.env
celerybeat-schedule
./backend/celerybeat-schedule
*.crt
*.key
/GraphaRNA/
/downloads/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
