.ap-content{
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    height: auto;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
}

.about{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-content{
    display: flex;
    position: relative;
    width: 1140px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.about-title{
    color: var(--brown-base);
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 38px;
    height: 45px;
    width: 100%;
}


.about-text {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 20px;
    z-index: 2;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--brown-base);
}

.about-p1, .about-p2, .about-p3 , .about-p4 {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: var(--brown-base);
    font-size: 16px;
    font-family: 'Inter';
    font-weight: normal;
    text-align: justify;
}

.about-link:hover{
    font-weight: bold;
}

.circle-top{
    position: absolute;
    z-index: 1;
    top: -70px;
    left: calc(650px - (1440px - 100vw)*0.2);
}

.triangle-top{
    position: absolute;
    z-index: 1;
    top: 180px;
    left: calc(100px - (1440px - 100vw)*0.05);
}

/* sekcja srodkowa*/

.authors{
    width: 100%;
    height: auto;
    background-color: var(--background-darken-5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.authors-content{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1140px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.authors-title{
    color: var(--brown-base);
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 38px;
    height: auto;
    width: 100%;
}

.authors-names{
    color: var(--brown-base);
    font-family: 'Inter';
    font-size: 16px;

}

.circle-mid{
    position: absolute;
    z-index: 1;
    top: -20px;
    left: calc(700px - (1440px - 100vw)*0.2);
}

/* sekcja dolna*/


.funds{
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.funds-content{
    margin-top: 50px;
    width: 1140px;
    height: 104px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.triangle-bottom{
    position: absolute;
    z-index: 1;
    top: -80px;
    left: -80px;
}

.funds-title{
    width: 100%;
    height: 45px;
    z-index: 2;
    font-size: 38px;
    color: var(--brown-base);
    font-family: 'Raleway';
    font-weight: normal;
}

.funds-text{
    width: 100%;
    height: 19px;
    z-index: 2;
    font-size: 16px;
    color: var(--brown-base);
    font-family: 'Inter';
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
}

@media (max-width: 1160px){

    .ap-content, .about, .funds, .authors, .funds-content, .authors-content{
        height: auto;
    }

    .about-content{
        width: 90vw;
        height: auto;
    }

    .about, .about-content{
        margin-bottom: 20px;
    }

    .authors-content{
        padding-top: 20px;
        flex-direction: column;
        height: auto;
        width: 90vw;
    }

    .authors{
        padding-bottom: 20px;
        height: auto;
    }

    .circle-mid{
        left: calc(400px - (1440px - 100vw)*0.3);
        top: 0px;
    }

    .circle-top{
        left: calc(600px - (1440px - 100vw)*0.7);
    }

    .triangle-top{
        top: calc(100px + (1440px - 100vw)*0.4);
    }

    .funds-title{
        height: auto;
    }

    .funds-text{
        height: auto;
        margin-bottom: 40px;
    }

    .funds-content{
        width: 90vw;
        margin-top: 50px;
    }
}

@media (max-width: 575px){
    .authors{
        height: auto;
    }

    .authors-content{
        width: 90vw;
        height: auto;
    }

    .funds-text{
        width: 100%;
    }

    .about-text p{
        font-size: 14px;
    }

    .circle-top, .triangle-bottom, .circle-mid{
        width: 0px;
        height: 0px;
    }
}

@media (max-width: 390px){
    .funds-title{
        padding-left: 5px;
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .triangle-top{
        width: 0px;
        height: 0px;
    }
}