.content{
    display: flex;
    flex-direction: column;
    padding-top: 130px;
}

.about{
    position: relative;
    width: 1150px;
    height: 500px;
    padding-left: 120px;
}

.about-content{
    position: absolute;
    width: 1150px;
    height: 500px;
}

.about-title{
    color: var(--brown-base);
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 38px;
    padding-bottom: 30px;
}


.about-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 20px;
    left: 20px;
    z-index: 2;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--brown-base);
}

.circle-top{
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 800px;
}

.triangle-top{
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 300px;
}

.authors{
    width: 100%;
    height: 700px;
    background-color: var(--background-darken-5);
}

.authors-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.authors-title{
    padding-top: 50px;
    font-family: 'Raleway';
    font-size: 38px;
    font-weight: lighter;
    color: var(--brown-base);
    padding-bottom: 20px;
}

.author-groups{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    gap: 50px;
}

.triangle-mid{
    position: absolute;
    z-index: 1;
    top: 1000px;
    left: 520px;
}

.circle-mid{
    position: absolute;
    z-index: 1;
    top: 650px;
    left: 930px;
}

.authors-profs,
.authors-students{
    position: relative;
    width: 500px;
    height: 500px;
}

.authors-rectangle{
    background-color: var(--background-lighten-5);
    width: 520px;
    height: 405px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    left: 570px;
    top: 100px;
}

.authors-rectangle1{
    background-color: var(--background-lighten-5);
    width: 520px;
    height: 405px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    left: -580px;
    top: 100px;
}

.authors-circle{
    background-color: var(--background-lighten-5);
    width: 240px;
    height: 240px;
    border-radius: 120px;
    position: absolute;
    z-index: 2;
    left: 110px;
}

.authors-circle1{
    background-color: var(--background-lighten-5);
    width: 240px;
    height: 240px;
    border-radius: 120px;
    position: absolute;
    z-index: 2;
    left: 160px;
}

.web-icon{
    position: absolute;
    z-index: 3;
    width: 100px;
    height: 100px;
    left: 235px;
    top: 45px;
}

.rocket-icon{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    left: 190px;
    top: 50px;
}

.graphaRNA-text{
    position: absolute;
    z-index: 4;
    color: var(--primary2-darken-10);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: bolder;
    top: 160px;
    left: 150px;
}

.graphaRNAweb-text{
    position: absolute;
    z-index: 4;
    color: var(--primary2-darken-10);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: bolder;
    top: 160px;
    left: 180px;
}

.rna{
    font-weight: normal;
}

.web{
    font-weight: lighter;
    color: var(--primary2-base)
}

.first-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 60px;
    position: absolute;
    z-index: 5;
    top: 250px;
    left: -20px;
}

.second-row{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 5;
    top: 350px;
    padding-left: 160px;
}

.author
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--brown-base);
    font-size: 14px;
    font-family: 'Inter';
    gap: 5px;
}

.first-row1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 60px;
    position: absolute;
    z-index: 5;
    top: 250px;
    left: 10px;
}

.second-row1{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 5;
    top: 350px;
    padding-left: 140px;
    gap: 20px;
}

.funds{
    height: 300px;
    width: 100%;
}

.funds-content{
    position: relative;
    z-index: 2;
}

.triangle-bottom{
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 80px;
}

.funds-title{
    position: absolute;
    z-index: 2;
    font-size: 38px;
    color: var(--brown-base);
    top: 80px;
    left: 180px;
    font-family: 'Raleway';
    font-weight: lighter;
}

.funds-text{
    position: absolute;
    z-index: 2;
    font-size: 16px;
    color: var(--brown-base);
    top: 170px;
    left: 180px;
    font-family: 'Inter';
    font-weight: lighter;
}