.content{
    display: flex;
    flex-direction: column;
    padding-top: 110px;
}

.cite{
    position: relative;
    width: 100%;
    height: 570px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cite-title{
    font-family: 'Raleway';
    font-size: 38px;
    color: var(--brown-base);
    font-weight: 400;
}

.cite-content{
    position: absolute;
    width: 1150px;
    height: 500px;
    top: 80px;
}

.cite-subtitle {
    position: relative;
    z-index: 2;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: var(--brown-base);
}

.circle{
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 700px;
}

.triangle{
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 200px;
}

.green-thing{
    position: absolute;
    z-index: 3;
    top: 80px;
}

.text{
    position: absolute;
    z-index: 2;
    height: 138px;
    width: 950px;
    border-radius: 20px;
    background-color: #FFFFFFB2;
    top: 120px;
    left: 70px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0 2px 20px 0 #DFDEDAE5;
}

.para{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    color: var(--brown-base);
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
}