.dots-container {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.arrow {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.arrow:hover {
  filter: brightness(0.7);
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.dot.active {
  background-color: var(--primary2-base)
}
