.error-box {
  background-color: var(--primary1-lighten-25);
  width: 760px;
  border-radius: 20px;
  padding: 15px 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #8D2521;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-message-multiple {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.error-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.error-header,
.error-footer {
  font-weight: 500;
}
