@import './globals.css';

.footer {
  height: 78px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--brown-base);
}

.footer__left {
  font-size: 16px;
  color: var(--background-base);
  font-weight: 300;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__right .footer__logo {
  height: 35px;
  width: auto;
}
