@import './globals.css';

.footer {
  height: 78px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(10px, 8vw, 100px);
  padding-right: clamp(10px, 8vw, 100px);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--brown-base);
}

.footer_left{
  width: 400px;
}

.footer_left p{
  font-size: 16px;
  color: var(--background-base);
  font-weight: 300;
  width: 100%;
}

.footer_right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer_logo_pp {
  width: 35px;
  height: 35px;
}

.footer_logo_rna{
  width: 120px;
  height: 25px;
}

.footer_logo_ibch{
  width: 35px;
  height: 35px;
}

@media (max-width: 900px){
  .footer{
    padding-left: 20px;
    padding-right: 20px;
    }
  .footer_right{
    gap: 20px;
  }
}

@media (max-width: 700px){
  .footer_right{
    width: 0px;
  }
  .footer_left{
    width: 100%;
    text-align: center;
  }
}