@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Consolas:wght@300;400;700&display=swap');

@import "tailwindcss";


:root {
  --background-base: #FFFEFA;
  --background-lighten-5: #FFFFFF;
  --background-darken-5: #F5F4F0;
  --background-darken-10: #C8C7C1;
  --background-darken-15: #C8C7C1;
  --background-darken-3: #F9F8F4;

  --brown-base: #171107;
  --brown-lighten-5: #20180A;
  --brown-lighten-10: #282113;
  --brown-lighten-15: #42361E;
  --brown-lighten-20: #867F72;
  --brown-lighten-25: #AEA99F;


  --primary1-base: #693238;
  --primary1-lighten-5: #8F5459;
  --primary1-lighten-10: #B7787C;
  --primary1-lighten-15: #E09DA2;
  --primary1-lighten-20: #FFC5C9;
  --primary1-lighten-25: #F9E1E0;

  --primary2-base: #668D21;
  --primary2-darken-5: #4A7100;
  --primary2-darken-10: #2E5700;
  --primary2-darken-15: #183D00;
  
  --submitted: #C45FF3;
  --waiting: #FFA500;
  --running: #007BFF;
  --completed: #28A745;
  --error: #DC3545;

  --gray-500: #2C322E;
}

body {
  background: var(--background-base);
  color: var(--brown-lighten-10);
  font-family: Arial, Helvetica, sans-serif;
  cursor: var(--brown-lighten-25);
}


html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*{
  caret-color: var(--brown-lighten-25);
}