.guide-page {
    padding-top: 100px;
    padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
}

.gp-content{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 1120px;
}

.guide-toc {
  display: flex;
  flex-direction: column;
  background-color: var(--brown-lighten-25); 
  border-radius: 20px;
  padding: 50px 70px;
  width: 100%;
  gap: 30px;
  height: auto;
}

.header-guide-toc-title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 32px;
  color: var(--background-base)
}

.guide-toc-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-standard-toc{
  font-family: 'Inter';
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--background-base)
}

.gp-step1, .gp-step2, .gp-step3{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.gp-header-title{
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 28px;
  color: var(--brown-base);
  scroll-margin-top: 100px;
}

.gp-step-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 40px;
    gap: 50px;
}

.header-step{
    font-family: 'Raleway';
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: var(--brown-base);
}

.gp-step{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gp-step-step-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-standard{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: var(--brown-base);
}

.step-list-dot{
    padding-left: 40px;
    list-style: circle;
}

.example-image {
  max-width: 100%;  
  height: auto;     
  display: block;   
  margin: 0 auto;   
  padding-bottom: 50px;
}

#next-example{
  max-width: 30%;  
      
}

.guide-toc-list a {
  color: inherit; 
}

.guide-toc-list a:hover {
  color: #000;
}


.bold{
  font-weight: 700;
}


@media (max-width: 1160px){
  .guide-page{
    padding-left: 20px;
    padding-right: 20px;
  }

  .gp-content{
    width: 100%;
  }

  .guide-toc{
    padding: 40px 60px;
  }

  .gp-step-content{
    padding-left: 35px;
  }
}

@media (max-width: 720px){
  .gp-step-content{
    padding-left: 30px;
  }
}

@media (max-width: 420px){
  .guide-toc-list{
    gap: 20px;
  }

  .guide-toc{
    padding: 30px 50px;
  }

  .gp-step-content{
    padding-left: 20px;
  }
}