.home-background {
  min-height: 100vh;
  background-image: url('/photos/bg_home.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 70px;
}

.home-container{
  display: flex;
  flex-direction: column;
  width: 726px;
  height: 510px;
  margin-left: calc(166px - (1440px - 100vw)*0.2);
  gap: 40px;
}

.home-buttons{
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 726px;
  padding-top: 50px;
}

.home-header{
  width: 726px;
  height: 222px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.home-intro-text{
  font-family: Inter;
  font-size: 40px;
  color: var(--brown-base);
  line-height: 1.2;
  height: 144px;
  margin: 0px;
}

.home-description-text-1{
  font-family: Inter;
  height: 48px;
  color: var(--brown-lighten-10);
  margin: 0px;
  font-weight: 300;
  font-style: Light;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;

}
.home-description-text-2{
  font-family: Inter;
  height: 48px;
  color: var(--brown-lighten-10);
  margin: 0px;
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.home-description-text-2 p b {
  font-weight: 600;
}

.intro-explore,
.intro-with{
  font-weight: 300;
}

.intro-world{
  font-weight: 600;
}

.intro-grapha{
  font-weight: 600;
  color: var(--primary2-base);
}

.intro-rna-web{
  font-weight: 300;
  color: var(--primary2-base);
}

@media (max-width: 768px) {
  .home-container{
    margin-left: 10px;
    width: 490px;
    height: 373px;
  }

  .home-buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 490px;
  }

  .home-description-text{
    width: 490px;
  }

  .home-header{
    width: 490px;
  }
}

@media (max-width: 1200px){
  .home-background{
    background-position: calc(100% + (1200px - 100vw) * 0.35) center;
  }
}

@media (max-width: 510px){
  .home-description-text{
    height: auto;
    width: 100%;
  }

  .home-container{
    width: 100%;
    padding-right: 10px;
    height: auto;
  }

  .home-header{
    width: 100%;
    height: auto;
  }

  .home-intro-text{
    height: auto;
  }

  .home-buttons{
    height: auto;
    width: 100%;
  }
}