.circle {
    position: absolute;
    z-index: 1;
    top: -70px;
    left: calc(700px - (1450px - 100vw)*0.45);
}

.text {
    position: absolute;
    z-index: 2;
    height: 138px;
    width: 950px;
    border-radius: 20px;
    background-color: #FFFFFFB2;
    top: 120px;
    left: 70px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0 2px 20px 0 #DFDEDAE5;
}

.ActiveJob-Buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
    table-layout: fixed;
    background-color: transparent;
}

.table-header-row th {
    background-color: var(--background-darken-10);
    padding: 12px 20px;
    text-align: center;
    font-weight: 700;
    font-family: Inter;
    font-size: 16px;
}

.table-header-row th:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.table-header-row th:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

tbody tr {
    background-color: transparent !important;
    font-family: Inter;
}

tbody td {
    background-color: var(--background-darken-5);
    padding: 10px 20px;
    text-align: center;
    font-family: Inter;
}
td, th {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
}

tbody td:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

tbody td:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

tbody tr:hover td {
    background-color: var(--background-darken-10);
    transition: background-color 0.2s ease;
}

tbody td {
    padding: 10px 20px;
}

.jobsPageContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 1120px;
    margin-left: calc((100% - 1120px) / 2);
    margin-right: calc((100% - 1120px) / 2);
    margin-bottom: 40px;
}

.jobsPage-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.jobsPage-maintable {
    width: 100%;
    table-layout: auto;
}

.jobsPage-header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobsPage-title {
    /* margin: 24px; */
    padding: 0.25rem 0;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    font-family: 'Raleway';
    font-size: 38px;
    color: var(--brown-base);
}

.Jobs-Pagination {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 1rem;
    flex-wrap: wrap;
    z-index: 5;
}

.Jobs-Pagination-Button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.Jobs-Pagination-Button.active {
    background-color: var(--primary2-darken-5);
    color: white;
}

.Jobs-Pagination-Prev-Next {
    display: flex; 
    align-items: center; 
    /* gap: 5px;  teorytycznie tyle na figmie ale tak wygląda bliżej wizualnie wersji z figmy.
     Problemem jest pewnie z różnicą wielkośći*/
    gap: 12px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.Jobs-Pagination-Prev-Next:disabled {
    cursor: not-allowed;
    color: var(--brown-lighten-20);
}

.error {
    position: relative; 
    color: red;
    text-align: center;
    margin-top: 70px;   
}

button {
    pointer-events: auto;
}

.spinner {
    width: 24px;
    height: 24px;
    border: 3px solid #ccc;
    border-top: 3px solid green;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 1rem auto;
}

.router-buttons {
    display: flex;
    gap: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

th:last-child,
td:last-child {
    text-align: center;
    vertical-align: middle;
}

td:last-child>* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


*{
 outline: 1px solid red;
}

@media (max-width: 1160px){
    .jobsPageContent{
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100vw - 40px);
    }
}

@media (max-width: 760px){
    .router-buttons{
        flex-direction: column;
        gap: 10px;
        /* align-items: flex-end; */
    }
}

@media (max-width: 510px) {
    .Jobs-Pagination{
        gap:0px;
    }
    .table-header-row th {
        background-color: var(--background-darken-10);
        padding: 0px 10px;
        text-align: center;
        font-weight: 400;
        font-size:12px;
    }

    tbody td {
        background-color: var(--background-darken-5);
        padding: 5px 5px;
        text-align: center;
        font-size: 12px;
    }

    .jobsPage-header{
        flex-direction: column;
    }

    .router-buttons{
        align-items: center;
    }

    .jobsPageContent{
        padding-left: 10px;
        padding-right: 10px;
    }
    tbody td .field-value{
        font-size: 12px;
    }
}