.dot-and-text{
    width: 100px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    flex-shrink: 0;
}

.field-value{
    color: var(--brown-lighten-10);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    text-align: right;
}

@media (max-width: 510px){
    .dot-and-text{
        width: 100%;
        gap: 5px;
    }

    .field-value{
        font-size: 12px;
    }
}