.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: var(--background-base);
  border-radius: 20px;
  width: 960px;
  height: 648px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 2px 7px rgba(191, 194, 192, 1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.modal-close-icon {
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}

.modal-top-text{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 74px;
  width: 794px;
  gap: 10px;
}

.modal-title{
  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  color: var(--brown-base);
}

.modal-subtitle{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: var(--brown-base);
  margin-top: 0px;
}

.file-dropzone {
  background-color: var(--background-lighten-5);
  border: 1px solid var(--background-darken-15);
  border-radius: 10px;
  gap: 10px;
  transition: border-color 0.2s;
  width: 760px;
  height: 297px;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.file-dropzone:hover {
  border-color: #999;
}

.dropzone-instruction{
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  color: var(--brown-lighten-5);
  text-align: center;
}

.dropzone-instruction-2{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: var(--brown-lighten-5);
  text-align: center;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  height: 41px;
  width: 760px;
}

.uploaded-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.file-name {
  font-family: Inter;
  font-weight: 400;;
  font-size: 16px;
  color: var(--brown-lighten-15);
  text-align: center;
}

.error-message{
  background-color: var(--primary1-lighten-25);
  width: 760px;
  height: 46px;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 15px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #8D2521;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.upload-and-examples{
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
}

.upload-left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  justify-content: center;
  cursor: pointer;
}

.modal-line-and-or{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.modal-line-part{
  height: 100px;
  width: 1px;
  background-color: var(--background-darken-15);
}

.modal-line-sep{
  color: var(--background-darken-15);
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  width: 12px;
}

.example-file-div{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.upload-right-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 190px;
  justify-content: center;
}

.example-files-description{
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: var(--brown-lighten-15);
  width: 100%;
}

.modal-download-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.25s ease;
  cursor: pointer;
}

.modal-download-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.uploaded-file-item-with-remove {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}

.uploaded-file-item-with-remove:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.uploaded-file-icon {
  width: 50px;
  height: 50px;
}

.uploaded-file-name {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  word-break: break-all;
}

.remove-uploaded-icon {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.remove-uploaded-icon:hover {
  opacity: 1;
}

.uploaded-files-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
}

@media (max-width: 960px){

  .modal{
    width: calc(100% - 20px);
    height: auto;
    padding-left: calc(100px - (960px - 100%)*0.15);
    padding-right: calc(100px - (960px - 100%)*0.15);
  }

  .modal-top-text{
    width: 100%;
    height: auto;
  }

  .file-dropzone{
    width: 100%;
  }

  .upload-left-section{
    width: 40%;
  }

  .error-message{
    width: 100%;
  }

  .modal-buttons{
    width: 100%;
  }
}

@media (max-width: 700px){
  .upload-and-examples{
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  .file-dropzone{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .modal-line-and-or{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .modal-line-part{
    height: 1px;
    width: 40%;
  }

  .upload-left-section{
    align-self: center;
  }

  .upload-right-section{
    align-self: center;
  }
}

@media (max-width: 505px){
  .modal-buttons{
    flex-direction: column;
    height: auto;
    align-items: flex-end;
  }
}