.pdb-viewer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 30px;
  background-color: #F9F8F4;
  border-radius: 10px;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  min-height: 40px;
  box-sizing: border-box;
}

.controls-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.controls-header-button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 5px;
  border: none;
  background-color: var(--background-darken-15);
  color: var(--brown-base);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, transform 0.1s ease;
}

.controls-header-button:hover {
  background-color: var(--primary2-base);
  color: white;
  transform: scale(1.05);
}


.viewer-container {
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
}

.pdb-viewer-wrapper.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #F9F8F4;
  z-index: 9999;
  gap: 10px;
}

.pdb-viewer-wrapper.fullscreen .viewer-container {
  width: 100%;
  height: calc(100vh - 50px);
}

.pdb-viewer-wrapper.fullscreen{
  padding: 5px;
}

.file-name-results {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--brown-base);
}

.pdb-viewer-wrapper.expanded {
  width: 1120px !important;
  height: 1274px !important;
}

.download-single-file:hover{
  background-color: var(--background-darken-15);
  transform: scale(1.05);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 780px) {

  .file-name{
    width: 60%;
  }
}

@media (max-width: 560px) {

  .file-name{
    width: 40%;
  }
}

@media (max-width: 450px){

  .header-bar{
    flex-direction: column;
    gap: 10px;
  }

  .file-name{
    width: 100%;
    text-align: center;
  }
}