.slider-wrapper {
  width: 502px;
  height: 44px;
  border: 3px solid var(--primary2-base);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  background-color: var(--background-base);
  box-sizing: border-box;
}

.slider-option {
  width: 146px;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
  color: var(--primary2-base);
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.slider-option.selected {
  background-color: var(--primary2-base);
  color: var(--background-base);
}


@media (max-width: 520px){
  .slider-wrapper{
    flex-direction: column;
    gap: 5px;
    width: 150px;
    height: 120px;
    border-radius: 10px;
    border: 0px;
  }
}