.steps-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 50px;
  width: 100%;
}

.line {
  height: 0px;
  border: 1px solid var(--brown-lighten-25);
}

.side-line {
  width: 270px;
}

.middle-line {
  width: 190px;
}

.line.active {
  border-color: var(--primary2-darken-5);
}


.step-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--brown-lighten-25);
  border: 3px solid var(--brown-lighten-25);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.3s ease;
  z-index: 2;
}

.step-circle.active {
  background-color: var(--primary2-darken-5);
  border-color: var(--primary2-darken-5);
  color: white;
}

@media (max-width: 1160px) {

  .side-line {
    width: calc(270px - (1160px - 100%)*0.25);
  }

  .middle-line{
    width: calc(150px - (1160px - 100%)*0.15);
  }
  
  .steps-indicator{
    gap: calc(25px - (1160px - 100%)*0.02);
  }

  .step-circle{
    height: 26px;
    width: 26px;
  }
}

@media (max-width: 960px){
  .step-circle{
    height: 20px;
    width: 20px;
    font-size: 8px;
  }

  .side-line {
    width: calc(220px - (1160px - 100%)*0.2);
  }

  .middle-line{
    width: calc(120px - (1160px - 100%)*0.1);
  }
}