.submit-jobs-page{
    padding-top: 100px;
}

.sjp-content{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 60px;
}

.sjp-header{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.sjp-header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sjp-header-title{
    color: var(--brown-lighten-10);
    font-size: 30px;
    font-weight: 200;
    font-family: "Raleway";
}

.sjp-toggle-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    color: var(--primary2-base);
    align-items: center;
}

.sjp-toggle-icon{
    width: 20px;
    height: 20px;
}

.sjp-buttons-section{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sjp-format-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.sjp-format-select-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sjp-format-top{
    font-size: 24px;
    font-weight: 700;
    color: var(--brown-lighten-15);
    font-family: "Raleway";
}

.sjp-format-bottom{
    font-size: 18px;
    font-weight: 300;
    color: var(--brown-base);
    font-family: "Inter";
}

.sjp-line-sep{
    width: 604px;
    height: 0px;
    border: 1px solid var(--background-darken-10);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sjp-format{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.sjp-format-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sjp-format-info-1{
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px;
}

.sjp-format-info-2{
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
}

.sjp-step-0{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sjp-text-input-section{
    display: flex;
    flex-direction: column;
    background-color: var(--background-darken-5);
    border-radius: 20px;
    min-height: 433px;
    padding: 80px 100px;
    gap: 50px;
}

.sjp-text-input-section--error {
  height: 500px;
}

.sjp-text-input-examples{
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sjp-examples-left{
    width: 257px;
    font-size: 14px;
    font-weight: 300;
    font-family: Inter;
}

.sjp-examples-right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 545px;
}

.sjp-input-area{
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: 18px;
    font-weight: 600;
    font-family: Inter;
    color: var(--brown-base)
}

.sjp-opt-params{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sjp-opt-params-1{
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
}

.sjp-opt-params-2{
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
}

.sjp-params-fields{
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 30px;
    padding: 80px 100px;
    background-color: var(--background-darken-5);
    margin-bottom: 83px;
}

.sjp-seed-name-param{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    color: var(--brown-base);
}

.sjp-params-fields span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: var(--brown-lighten-20);
    padding-left: 10px;
}

.sjp-alt-param{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    color: var(--brown-base);
    gap: 10px;
}

.sjp-email-param{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    color: var(--brown-base);
    gap: 10px
}

.sjp-format-info-2{
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    color: var(--brown-base)
}

.sjp-structures-section{
    display: flex;
    flex-direction: column;
    background-color: var(--background-darken-5);
    border-radius: 20px;
    min-height: 433px;
    padding: 80px 100px;
    gap: 20px;
}

.sjp-structures-title{
    color: var(--brown-base);
    font-size: 18px;
    font-weight: 600;
    font-family: Inter;
}

.sjp-structures-subtitle{
    color: var(--brown-lighten-15);
    font-size: 18px;
    font-weight: 400;
    font-family: Inter;
    padding-left: 5px;
}

.sjp-add-structure{
    border-radius: 10px;
    border: 2px solid var(--primary2-base);
    color: var(--primary2-base);
    height: 30px;
    display: flex;
    justify-content: center;
}

.sjp-add-structure p{
    font-size: 20px;
}

.sjp-step1-buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}