.textarea {
  resize: vertical;
  padding: 12px;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 8px;
  font-family: monospace;
  white-space: pre-wrap;
}

.textarea.readonly {
  background-color: #f2f2f2;
  color: #666;
  cursor: not-allowed;
}
