.textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-lighten-5);
  border: 1px solid var(--background-darken-15);
  border-radius: 20px;
  transition: border 0.3s ease-in-out;
  padding: 20px 30px;
  font-family: Consolas;
  font-weight: 400;
  font-size: 18px;
  resize: vertical;
  color: var(--brown-lighten-20)
}