monitoring:
  enabled: true
  
frontend:
  name: frontend
  image: grapharnaweb/grapharna-web:frontend-latest
  pullPolicy: Always
  port: 3000

  replicas: 1

  # Probes
  livenessPath: /
  readinessPath: /

  # Resources
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limit:
      cpu: "500m"
      memory: "256Mi"

  # Ingress
  ingressEnabled: true
  ingressHost: frontend.local

backend:
  name: backend
  image: grapharnaweb/grapharna-web:backend-latest
  pullPolicy: Always
  port: 8000

  replicas: 1

  # Probes
  livenessPath: /api/healthcheck/
  readinessPath: /api/healthcheck/

  # Resources
  resources:
    requests:
      cpu: "250m"
      memory: "2048Mi"
    limit:
      cpu: "1000m"
      memory: "4096Mi"

  # Persistent Volume Claim
  pvc: shared-volume
  storage: 5Gi

celery:
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limit:
      cpu: "1000m"
      memory: "4096Mi"
  
  grapharna:
    name: celery-grapharna
    replicas: 1

  beat:
    name: celery-beat
    replicas: 1
    pvc: beat-volume
    storage: 1Gi

  maintenance:
    name: celery-maintenance
    replicas: 1
  
  email:
    name: celery-email
    replicas: 1

engine:
  name: grapharna-engine
  image: grapharnaweb/grapharna-web:grapharna-engine
  pullPolicy: IfNotPresent
  port: 8080
  replicas: 1

  livenessPath: /
  readinessPath: /

  resources:
    requests:
      cpu: "2000m"
      memory: "4Gi"
    limit:
      cpu: "12000m"
      memory: "16Gi"

  # Persistent Volume Claim
  pvc: shared-volume
  storage: 5Gi


postgres:
  name: db
  image: postgres:15
  pullPolicy: IfNotPresent
  port: 5432

  replicas: 1

  # Resources
  resources:
    requests:
      cpu: "500m"
      memory: "2048Mi"
    limit:
      cpu: "2000m"
      memory: "4096Mi"

  livenessCommand: ["pg_isready", "-U", "dbuser", "-d", "dockerdjango"]
  readinessCommand: ["pg_isready", "-U", "dbuser", "-d", "dockerdjango"]

  # Persistent Volume Claim
  pvc: postgres-volume
  storage: 5Gi

rabbitmq:
  name: rabbitmq
  image: rabbitmq:3-management
  pullPolicy: IfNotPresent
  port: 5672
  uiPort: 15672

  replicas: 1

  resources:
    requests:
      cpu: "100m"
      memory: "2048Mi"
    limits:
      cpu: "500m"
      memory: "4096Mi"

  pvc: rabbitmq-volume
  storage: 2Gi # ZWIEKSZYC NA PROD!!! 