frontend:
  name: frontend
  image: images/frontend:latest
  pullPolicy: Never
  port: 3000

  replicas: 1

  # Probes
  livenessPath: /
  readinessPath: /

  # Resources
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limit:
      cpu: "500m"
      memory: "256Mi"

  # Persistent Volume Claim
  pvcEnabled: true
  pvc: frontend-pvc
  storage: 1Gi

  # Ingress
  ingressEnabled: true
  ingressHost: 127.0.0.1
