name: Django CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        source ./backend
        python -m pip install --upgrade pip
        pip install -r ./requirements.txt
    - name: Run Tests
      run: |
        python ./backend/manage.py test
    - name: Code Audit
      run: |
        source ./backend/venv/bin/activate
        mypy .
        ruff check .
    - name: Safety check
      run: |
        safety check -r ./backend/requirements.txt
